In [48]:
import pandas as pd

# Read files from the same folder where your notebook is located
Columbia_Brood_Table = pd.read_csv('Cleaned_1Columbia_Brood.csv')
Columbia_Return_Table = pd.read_csv('Cleaned_2Columbia_Return.csv')

In [51]:
import pandas as pd

# Step 1: Load your CSV files
Columbia_Brood_Table = pd.read_csv('Cleaned_1Columbia_Brood.csv')  # contains BroodYear, Total_Recruits
Columbia_Return_Table = pd.read_csv('Cleaned_2Columbia_Return.csv')  # contains ReturnYear, TotalAge, ReturnCount

# Step 2: Calculate BroodYear for each return record
Columbia_Return_Table['BroodYear'] = Columbia_Return_Table['ReturnYear'] - Columbia_Return_Table['TotalAge']

# Step 3: Group return counts by BroodYear
returns_by_brood = Columbia_Return_Table.groupby('BroodYear', as_index=False)['ReturnCount'].sum()
returns_by_brood.rename(columns={'ReturnCount': 'Total_Returned'}, inplace=True)

# Step 4: Merge with brood table to bring in Total_Recruits
comparison_df = pd.merge(
    Columbia_Brood_Table,              # has one row per BroodYear
    returns_by_brood,                  # summed Total_Returned per BroodYear
    on='BroodYear',
    how='left'
)

# Step 5: Fill missing values with 0 (in case some BroodYears had no returns)
comparison_df['Total_Returned'] = comparison_df['Total_Returned'].fillna(0)

# Step 6: Optionally calculate survival rate
comparison_df['SurvivalRate'] = comparison_df['Total_Returned'] / comparison_df['Total_Recruits']

In [53]:
comparison_df.head(5)

   BroodYear  Total_Recruits  Total_Returned  SurvivalRate
0       1983        121493.0           39315      0.323599
1       1984         90540.0          121493      1.341871
2       1985         47821.0           90540      1.893310
3       1986         43800.0           47821      1.091804
4       1987         87441.0           43800      0.500909

In [54]:
Total_Recruits = comparison_df['Total_Recruits'].sum()
Total_Returned = comparison_df['Total_Returned'].sum()

print("Total_Recruits:", Total_Recruits)
print("Total_Returned:", Total_Returned)

Total_Recruits: 4664448.0
Total_Returned: 4676822