In [1]:
import pandas as pd
import os

In [2]:
data_set_bristol = pd.read_csv(r'C:\Users\MuriloFarias\Desktop\NNS-JULIA\PredictSalmonRuns\data\BristolBay_FeatureSet_For_Model.csv')

In [3]:
missing_values = data_set_bristol.isnull().sum()
missing_values = missing_values[missing_values > 0]

print("Columns with missing values:")
print(missing_values)

Columns with missing values:
mei_mean_AprSep                  128
sst_aprjul                       168
sst_anom                         168
total_spawners_y_minus_2_to_4     89
mean_temp_JunAug                 481
mean_temp_MaySep                 481
max_temp_JunAug                  481
mean_discharge_MarMay            482
max_discharge_AprSep             481
dtype: int64

In [4]:
# Find columns with missing values
cols_with_missing = data_set_bristol.columns[data_set_bristol.isnull().sum() > 0].tolist()

# Drop those columns
data_set_bristol = data_set_bristol.drop(columns=cols_with_missing)

# Print dropped column names
print("Dropped columns due to missing values:")
for col in cols_with_missing:
    print(f"- {col}")

Dropped columns due to missing values:
- mei_mean_AprSep
- sst_aprjul
- sst_anom
- total_spawners_y_minus_2_to_4
- mean_temp_JunAug
- mean_temp_MaySep
- max_temp_JunAug
- mean_discharge_MarMay
- max_discharge_AprSep

In [5]:
data_set_bristol.isnull().sum()

River                     0
Year                      0
Total_Returns             0
AgeClass_0.1              0
AgeClass_0.2              0
AgeClass_0.3              0
AgeClass_0.4              0
AgeClass_0.5              0
AgeClass_1.1              0
AgeClass_1.2              0
AgeClass_1.3              0
AgeClass_1.4              0
AgeClass_1.5              0
AgeClass_2.1              0
AgeClass_2.2              0
AgeClass_2.3              0
AgeClass_2.4              0
AgeClass_3.1              0
AgeClass_3.2              0
AgeClass_3.3              0
AgeClass_3.4              0
Total_Returns_NextYear    0
Pacea_ALPI_Anomaly        0
npi_mean_NovMar           0
oni_mean_DecFeb           0
npgo_mean_DecFeb          0
ao_mean_DecMar            0
pdo_mean_DecMar           0
pdo_mean_MaySep           0
sss_mayaug                0
dtype: int64

In [6]:
save_path = r"C:\Users\MuriloFarias\Desktop\NNS-JULIA\PredictSalmonRuns\murilo_salmon\BristolBay\THIRD_APPROACH\data_set_bristol_encoded.csv"

In [7]:
# Save the cleaned DataFrame
data_set_bristol.to_csv(save_path, index=False)
print(f" File saved to: {save_path}")

 File saved to: C:\Users\MuriloFarias\Desktop\NNS-JULIA\PredictSalmonRuns\murilo_salmon\BristolBay\THIRD_APPROACH\data_set_bristol_encoded.csv

In [8]:


data_set_bristol['River'].unique()

array(['Alagnak', 'Egegik', 'Igushik', 'Kvichak', 'Naknek', 'Nushagak',
       'Ugashik', 'Wood'], dtype=object)