In [1]:
import pandas as pd
import os

data_set_columbia = pd.read_csv(r'C:\Users\MuriloFarias\Desktop\NNS-JULIA\PredictSalmonRuns\data\ColumbiaRiver_FeatureSet_For_Model.csv')

In [2]:
data_set_columbia.shape

(39, 40)

checking missing values

In [3]:
missing_values = data_set_columbia.isnull().sum()
missing_values = missing_values[missing_values > 0]

# Calculate the percentage of missing values
missing_percentage = (missing_values / len(data_set_columbia)) * 100

# Combine into a DataFrame for better formatting
missing_summary = pd.DataFrame({
    'Missing Values': missing_values,
    'Percentage (%)': missing_percentage.round(2)
})

print("Columns with missing values:")
print(missing_summary)

Columns with missing values:
                               Missing Values  Percentage (%)
total_spawners_y_minus_2                    2            5.13
total_spawners_y_minus_3                    3            7.69
total_spawners_y_minus_4                    4           10.26
total_spawners_y_minus_2_to_4               4           10.26
mean_temp_JunAug                           39          100.00
mean_temp_MaySep                           39          100.00
max_temp_JunAug                            39          100.00
mean_discharge_MarMay                      39          100.00
max_discharge_AprSep                       39          100.00

In [4]:
data_set_columbia.shape

(39, 40)

In [5]:
# Drop columns where 100% of the values are missing
data_set_columbia = data_set_columbia.dropna(axis=1, how='all')

In [6]:
data_set_columbia.shape

(39, 35)

In [7]:
missing_values = data_set_columbia.isnull().sum()
missing_values = missing_values[missing_values > 0]

# Calculate the percentage of missing values
missing_percentage = (missing_values / len(data_set_columbia)) * 100

# Combine into a DataFrame for better formatting
missing_summary = pd.DataFrame({
    'Missing Values': missing_values,
    'Percentage (%)': missing_percentage.round(2)
})

print("Columns with missing values:")
print(missing_summary)

Columns with missing values:
                               Missing Values  Percentage (%)
total_spawners_y_minus_2                    2            5.13
total_spawners_y_minus_3                    3            7.69
total_spawners_y_minus_4                    4           10.26
total_spawners_y_minus_2_to_4               4           10.26

check the year

In [8]:
# Step 1: Filter columns with missing values between 0% and 100%
partial_missing_cols = missing_summary[
    (missing_summary['Percentage (%)'] > 0) & 
    (missing_summary['Percentage (%)'] < 100)
].index.tolist()
partial_missing_cols
# Step 2: Check rows where any of these columns have missing values
rows_with_partial_missing = data_set_columbia[data_set_columbia[partial_missing_cols].isnull().any(axis=1)]

# Step 3: Show only the Year column (or any identifier)
print("Years with partial missing values:")
print(rows_with_partial_missing['Year'].unique())

Years with partial missing values:
[1985 1986 1987 1988]

In [9]:
data_set_columbia.shape

(39, 35)

In [10]:
data_set_columbia = data_set_columbia.dropna()

In [11]:
data_set_columbia.shape

(35, 35)

In [12]:
missing_values = data_set_columbia.isnull().sum()
missing_values = missing_values[missing_values > 0]

# Calculate the percentage of missing values
missing_percentage = (missing_values / len(data_set_columbia)) * 100

# Combine into a DataFrame for better formatting
missing_summary = pd.DataFrame({
    'Missing Values': missing_values,
    'Percentage (%)': missing_percentage.round(2)
})

print("Columns with missing values:")
print(missing_summary)

Columns with missing values:
Empty DataFrame
Columns: [Missing Values, Percentage (%)]
Index: []

In [13]:
data_set_columbia['River'].unique()

array(['Bonneville Lock & Dam'], dtype=object)

checking sum = 0

In [14]:
# Select only numerical columns
numeric_cols = data_set_columbia.select_dtypes(include='number')

# Find columns where the sum is exactly 0
zero_sum_cols = numeric_cols.columns[numeric_cols.sum() == 0].tolist()

print("Numerical columns with a sum of 0:")
print(zero_sum_cols)

Numerical columns with a sum of 0:
['AgeClass_0.1', 'AgeClass_0.2', 'AgeClass_0.3', 'AgeClass_0.4', 'AgeClass_0.5', 'AgeClass_1.4', 'AgeClass_1.5', 'AgeClass_2.4', 'AgeClass_3.4']

In [15]:
# Drop columns where the sum is 0
data_set_columbia = data_set_columbia.drop(columns=zero_sum_cols)

In [16]:
# Select only numerical columns
numeric_cols = data_set_columbia.select_dtypes(include='number')

# Find columns where the sum is exactly 0
zero_sum_cols = numeric_cols.columns[numeric_cols.sum() == 0].tolist()

print("Numerical columns with a sum of 0:")
print(zero_sum_cols)

Numerical columns with a sum of 0:
[]

In [17]:
# Show all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
data_set_columbia.shape

(35, 26)

In [18]:
save_path = r"C:\Users\MuriloFarias\Desktop\NNS-JULIA\PredictSalmonRuns\murilo_salmon\Columbia\FIRST_APPROACH\data_set_columbia_encoded.csv"

In [19]:
# Save the cleaned DataFrame
data_set_columbia.to_csv(save_path, index=False)
print(f" File saved to: {save_path}")

 File saved to: C:\Users\MuriloFarias\Desktop\NNS-JULIA\PredictSalmonRuns\murilo_salmon\Columbia\FIRST_APPROACH\data_set_columbia_encoded.csv

splitting the dataset

In [20]:
import pandas as pd
import os
import sys

# Add the path to your custom module
sys.path.append(r"C:\Users\MuriloFarias\Desktop\NNS-JULIA\PredictSalmonRuns\src")

In [21]:
#Import the custom function
from data_split import split_time_series_by_river

In [22]:
#Load full dataset
file_path = r"C:\Users\MuriloFarias\Desktop\NNS-JULIA\PredictSalmonRuns\murilo_salmon\Columbia\FIRST_APPROACH\data_set_columbia_encoded.csv"
df = pd.read_csv(file_path)

In [23]:



# Call custom group-aware split function
data_train_encoded, data_test_encoded = split_time_series_by_river(
    df,
    time_column="Year",
    group_columns=["River"],  # Adjust if needed
    test_fraction=0.2,
    gap_years=0
)

In [24]:
data_train_encoded = data_train_encoded.drop(columns=["River"])
data_test_encoded = data_test_encoded.drop(columns=["River"])

In [25]:

#Save split files
save_dir = r"C:\Users\MuriloFarias\Desktop\NNS-JULIA\PredictSalmonRuns\murilo_salmon\Columbia\FIRST_APPROACH"
os.makedirs(save_dir, exist_ok=True)

train_path = os.path.join(save_dir, "data_train_encoded.csv")
test_path = os.path.join(save_dir, "data_test_encoded.csv")

data_train_encoded.to_csv(train_path, index=False)
data_test_encoded.to_csv(test_path, index=False)

print(f" Train set saved to: {train_path}")
print(f" Test set saved to: {test_path}")

 Train set saved to: C:\Users\MuriloFarias\Desktop\NNS-JULIA\PredictSalmonRuns\murilo_salmon\Columbia\FIRST_APPROACH\data_train_encoded.csv
 Test set saved to: C:\Users\MuriloFarias\Desktop\NNS-JULIA\PredictSalmonRuns\murilo_salmon\Columbia\FIRST_APPROACH\data_test_encoded.csv

In [27]:
data_test_encoded.dtypes

Year                               int64
Total_Returns                    float64
AgeClass_1.1                     float64
AgeClass_1.3                     float64
AgeClass_2.1                     float64
AgeClass_2.2                     float64
AgeClass_2.3                     float64
AgeClass_3.1                     float64
AgeClass_3.2                     float64
Total_Returns_NextYear           float64
Pacea_ALPI_Anomaly               float64
npi_mean_NovMar                  float64
oni_mean_DecFeb                  float64
mei_mean_AprSep                  float64
npgo_mean_DecFeb                 float64
ao_mean_DecMar                   float64
pdo_mean_DecMar                  float64
pdo_mean_MaySep                  float64
sst_aprjul                       float64
sst_anom                         float64
sss_mayaug                       float64
total_spawners_y_minus_2         float64
total_spawners_y_minus_3         float64
total_spawners_y_minus_4         float64
total_spawners_y_minus_2_to_4    float64
dtype: object

In [26]:
data_train_encoded.dtypes

Year                               int64
Total_Returns                    float64
AgeClass_1.1                     float64
AgeClass_1.3                     float64
AgeClass_2.1                     float64
AgeClass_2.2                     float64
AgeClass_2.3                     float64
AgeClass_3.1                     float64
AgeClass_3.2                     float64
Total_Returns_NextYear           float64
Pacea_ALPI_Anomaly               float64
npi_mean_NovMar                  float64
oni_mean_DecFeb                  float64
mei_mean_AprSep                  float64
npgo_mean_DecFeb                 float64
ao_mean_DecMar                   float64
pdo_mean_DecMar                  float64
pdo_mean_MaySep                  float64
sst_aprjul                       float64
sst_anom                         float64
sss_mayaug                       float64
total_spawners_y_minus_2         float64
total_spawners_y_minus_3         float64
total_spawners_y_minus_4         float64
total_spawners_y_minus_2_to_4    float64
dtype: object