1 Loading the dataframe original data_set_bristol_encoded.csv
2 Using top 5 correlation beetwen features and lable (Total_Returns_NextYear)
3 Dataset sorted by year and keeping only top 5
4 Spliting 80% 20% random
5 Saving new datas

In [3]:
import pandas as pd

file_path = r"C:\Users\MuriloFarias\Desktop\NNS-JULIA\PredictSalmonRuns\murilo_salmon\BristolBay\data_set_bristol_encoded.csv"
pipe_line_top_5 = pd.read_csv(file_path)

Chaging permission to see the entire dataseet

In [ ]:
# Show all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pipe_line_top_5

See the corretation features vs Total_Returns_NextYear
ordering by best correlation

In [7]:
# 1. Calculate correlation matrix
corr_matrix = pipe_line_top_5.corr(numeric_only=True)
# 2. Get correlation of all features with the target
target_corr = corr_matrix['Total_Returns_NextYear'].drop('Total_Returns_NextYear')

# 3. Sort by absolute correlation (descending) and print
target_corr_sorted = target_corr.reindex(target_corr.abs().sort_values(ascending=False).index)

print("Correlation with Total_Returns_NextYear (sorted):")
print(target_corr_sorted)

Correlation with Total_Returns_NextYear (sorted):
AgeClass_2.1          0.628755
Total_Returns         0.569922
AgeClass_1.2          0.521003
River_Kvichak         0.446084
AgeClass_2.2          0.322697
River_Igushik        -0.263524
AgeClass_1.3          0.245940
Year                  0.243171
AgeClass_2.3          0.237773
River_Egegik          0.182710
River_Alagnak        -0.176593
AgeClass_1.1          0.171977
River_Nushagak       -0.153677
npgo_mean_DecFeb     -0.150803
ao_mean_DecMar        0.108058
AgeClass_2.4          0.107191
AgeClass_0.3         -0.106601
oni_mean_DecFeb       0.101804
AgeClass_3.3          0.100037
AgeClass_3.2          0.092726
AgeClass_1.5          0.086795
AgeClass_0.4         -0.079513
River_Ugashik        -0.073503
AgeClass_0.1          0.070961
AgeClass_0.2         -0.070132
npi_mean_NovMar       0.057374
River_Wood            0.045350
sss_mayaug           -0.037836
pdo_mean_MaySep       0.037221
AgeClass_0.5         -0.022657
AgeClass_1.4         -0.019023
AgeClass_3.4          0.016333
AgeClass_3.1          0.010058
pdo_mean_DecMar       0.007604
River_Naknek         -0.006848
Pacea_ALPI_Anomaly   -0.002746
Name: Total_Returns_NextYear, dtype: float64

Keeping only with columns:
Label: Total_Returns_NextYear
and the top 5 correlations
sorting by year

In [8]:
# Step 1: Sort by Year
pipe_line_top_5_sorted = pipe_line_top_5.sort_values(by='Year').reset_index(drop=True)

# Step 2: Get top 5 most correlated column names
top_5_features = target_corr_sorted.head(5).index.tolist()

# Step 3: Keep only top 5 features + target column
pipe_line_top_5_filtered = pipe_line_top_5_sorted[top_5_features + ['Total_Returns_NextYear']]

# Step 4: Print column names
for col in pipe_line_top_5_filtered.columns:
    print(col)

AgeClass_2.1
Total_Returns
AgeClass_1.2
River_Kvichak
AgeClass_2.2
Total_Returns_NextYear

saving data set train 80% and test 20%

In [5]:
from sklearn.model_selection import train_test_split
import os

# Split into 80% train, 20% test
top_5_train, top_5_test = train_test_split(
    pipe_line_top_5_filtered, test_size=0.2, random_state=42
)

# Paths to save files
save_dir = r"C:\Users\MuriloFarias\Desktop\NNS-JULIA\PredictSalmonRuns\murilo_salmon\BristolBay\TOP_5"
os.makedirs(save_dir, exist_ok=True)

train_path = os.path.join(save_dir, "top_5_train.csv")
test_path = os.path.join(save_dir, "top_5_test.csv")

# Save CSV files
top_5_train.to_csv(train_path, index=False)
top_5_test.to_csv(test_path, index=False)

print(f"Train set saved to: {train_path}")
print(f"Test set saved to: {test_path}")

Train set saved to: C:\Users\MuriloFarias\Desktop\NNS-JULIA\PredictSalmonRuns\murilo_salmon\BristolBay\TOP_5\top_5_train.csv
Test set saved to: C:\Users\MuriloFarias\Desktop\NNS-JULIA\PredictSalmonRuns\murilo_salmon\BristolBay\TOP_5\top_5_test.csv

open just to see

In [9]:
import pandas as pd

# File paths
train_path = r"C:\Users\MuriloFarias\Desktop\NNS-JULIA\PredictSalmonRuns\murilo_salmon\BristolBay\TOP_5\top_5_train.csv"
test_path = r"C:\Users\MuriloFarias\Desktop\NNS-JULIA\PredictSalmonRuns\murilo_salmon\BristolBay\TOP_5\top_5_test.csv"

# Load datasets
top_5_train_loaded = pd.read_csv(train_path)
top_5_test_loaded = pd.read_csv(test_path)

checking if were split 80%20%

In [10]:
dif = pipe_line_top_5_filtered.shape[0] - (top_5_test_loaded.shape[0] + top_5_train_loaded.shape[0])
print(f"Difference in number of rows: {dif}")

Difference in number of rows: 0

In [11]:
top_5_train_loaded

,AgeClass_2.1,Total_Returns,AgeClass_1.2,River_Kvichak,AgeClass_2.2,Total_Returns_NextYear
0,8.743316e+04,1.760947e+07,6.056269e+06,1,9.731029e+06,2.310379e+07
1,2.141548e+01,2.499049e+06,1.790533e+05,0,1.657638e+06,2.540240e+06
2,5.808646e+03,2.884786e+06,1.304555e+05,0,3.308573e+05,1.555051e+06
3,4.766273e-09,1.819299e+07,6.529166e+05,1,1.485162e+07,8.613127e+06
4,0.000000e+00,3.569959e+06,5.475559e+05,1,6.771330e+05,1.940225e+06
...,...,...,...,...,...,...
385,0.000000e+00,3.079973e+05,9.377054e+04,0,3.933285e+04,1.700351e+05
386,9.211459e+03,5.370653e+06,3.228252e+05,0,4.524737e+05,2.508751e+06
387,1.829335e+03,5.342241e+06,1.471106e+06,0,3.962394e+05,8.438492e+06
388,9.780529e+02,6.672738e+06,3.860507e+06,0,6.537641e+05,4.770223e+06
389,0.000000e+00,1.126567e+05,2.883792e+04,0,8.320093e+03,1.574497e+05