Uploading the original data because we do have missing values before split
BristolBay_FeatureSet_For_Model >> data_set_bristol_encoded

In [10]:
import pandas as pd
import os

uploading the dataset

In [11]:
data_set_bristol = pd.read_csv(r'C:\Users\MuriloFarias\Desktop\NNS-JULIA\PredictSalmonRuns\data\BristolBay_FeatureSet_For_Model.csv')

check miss values

In [12]:
missing_values = data_set_bristol.isnull().sum()
missing_values = missing_values[missing_values > 0]

# Calculate the percentage of missing values
missing_percentage = (missing_values / len(data_set_bristol)) * 100

# Combine into a DataFrame for better formatting
missing_summary = pd.DataFrame({
    'Missing Values': missing_values,
    'Percentage (%)': missing_percentage.round(2)
})

print("Columns with missing values:")
print(missing_summary)

Columns with missing values:
                               Missing Values  Percentage (%)
mei_mean_AprSep                           128           26.23
sst_aprjul                                168           34.43
sst_anom                                  168           34.43
total_spawners_y_minus_2                   75           15.37
total_spawners_y_minus_3                   82           16.80
total_spawners_y_minus_4                   89           18.24
total_spawners_y_minus_2_to_4              89           18.24
mean_temp_JunAug                          481           98.57
mean_temp_MaySep                          481           98.57
max_temp_JunAug                           481           98.57
mean_discharge_MarMay                     482           98.77
max_discharge_AprSep                      481           98.57

Drop columns where missing values is grater than 90%

In [13]:
# Drop columns with more than 90% missing values
threshold = 0.9  # 90%
missing_fraction = data_set_bristol.isnull().mean()

cols_to_drop = missing_fraction[missing_fraction > threshold].index
data_set_bristol.drop(columns=cols_to_drop, inplace=True)

print(f"ðŸ§¹ Dropped columns (more than 90% missing): {list(cols_to_drop)}")

ðŸ§¹ Dropped columns (more than 90% missing): ['mean_temp_JunAug', 'mean_temp_MaySep', 'max_temp_JunAug', 'mean_discharge_MarMay', 'max_discharge_AprSep']

In [14]:
missing_values = data_set_bristol.isnull().sum()
missing_values = missing_values[missing_values > 0]

# Calculate the percentage of missing values
missing_percentage = (missing_values / len(data_set_bristol)) * 100

# Combine into a DataFrame for better formatting
missing_summary = pd.DataFrame({
    'Missing Values': missing_values,
    'Percentage (%)': missing_percentage.round(2)
})

print("Columns with missing values:")
print(missing_summary)

Columns with missing values:
                               Missing Values  Percentage (%)
mei_mean_AprSep                           128           26.23
sst_aprjul                                168           34.43
sst_anom                                  168           34.43
total_spawners_y_minus_2                   75           15.37
total_spawners_y_minus_3                   82           16.80
total_spawners_y_minus_4                   89           18.24
total_spawners_y_minus_2_to_4              89           18.24

In [15]:
from tabulate import tabulate

# Step 1: Basic missing values + percentages
missing_values = data_set_bristol.isnull().sum()
missing_values = missing_values[missing_values > 0]

missing_percentage = (missing_values / len(data_set_bristol)) * 100

missing_summary = pd.DataFrame({
    'Missing Values': missing_values,
    'Percentage (%)': missing_percentage.round(2)
})

print("ðŸ” Summary of Columns with Missing Values:\n")
print(tabulate(missing_summary.reset_index(), headers='keys', tablefmt='pretty', showindex=False))

# Step 2: Missing values per column grouped by Year
print("\nðŸ“† Breakdown of Missing Values by 'Year':")
for column in missing_values.index:
    print(f"\nðŸ“Œ Column: '{column}'")
    year_missing = data_set_bristol[data_set_bristol[column].isnull()] \
        .groupby('Year') \
        .size() \
        .rename('Missing Count') \
        .reset_index()
    
    if not year_missing.empty:
        print(tabulate(year_missing, headers='keys', tablefmt='github', showindex=False))
    else:
        print("âœ… No missing values by year.")

ðŸ” Summary of Columns with Missing Values:

+-------------------------------+----------------+----------------+
|             index             | Missing Values | Percentage (%) |
+-------------------------------+----------------+----------------+
|        mei_mean_AprSep        |      128       |     26.23      |
|          sst_aprjul           |      168       |     34.43      |
|           sst_anom            |      168       |     34.43      |
|   total_spawners_y_minus_2    |       75       |     15.37      |
|   total_spawners_y_minus_3    |       82       |      16.8      |
|   total_spawners_y_minus_4    |       89       |     18.24      |
| total_spawners_y_minus_2_to_4 |       89       |     18.24      |
+-------------------------------+----------------+----------------+

ðŸ“† Breakdown of Missing Values by 'Year':

ðŸ“Œ Column: 'mei_mean_AprSep'
|   Year |   Missing Count |
|--------|-----------------|
|   1963 |               8 |
|   1964 |               8 |
|   1965 |               8 |
|   1966 |               8 |
|   1967 |               8 |
|   1968 |               8 |
|   1969 |               8 |
|   1970 |               8 |
|   1971 |               8 |
|   1972 |               8 |
|   1973 |               8 |
|   1974 |               8 |
|   1975 |               8 |
|   1976 |               8 |
|   1977 |               8 |
|   1978 |               8 |

ðŸ“Œ Column: 'sst_aprjul'
|   Year |   Missing Count |
|--------|-----------------|
|   1963 |               8 |
|   1964 |               8 |
|   1965 |               8 |
|   1966 |               8 |
|   1967 |               8 |
|   1968 |               8 |
|   1969 |               8 |
|   1970 |               8 |
|   1971 |               8 |
|   1972 |               8 |
|   1973 |               8 |
|   1974 |               8 |
|   1975 |               8 |
|   1976 |               8 |
|   1977 |               8 |
|   1978 |               8 |
|   1979 |               8 |
|   1980 |               8 |
|   1981 |               8 |
|   1982 |               8 |
|   1983 |               8 |

ðŸ“Œ Column: 'sst_anom'
|   Year |   Missing Count |
|--------|-----------------|
|   1963 |               8 |
|   1964 |               8 |
|   1965 |               8 |
|   1966 |               8 |
|   1967 |               8 |
|   1968 |               8 |
|   1969 |               8 |
|   1970 |               8 |
|   1971 |               8 |
|   1972 |               8 |
|   1973 |               8 |
|   1974 |               8 |
|   1975 |               8 |
|   1976 |               8 |
|   1977 |               8 |
|   1978 |               8 |
|   1979 |               8 |
|   1980 |               8 |
|   1981 |               8 |
|   1982 |               8 |
|   1983 |               8 |

ðŸ“Œ Column: 'total_spawners_y_minus_2'
|   Year |   Missing Count |
|--------|-----------------|
|   1963 |               8 |
|   1964 |               8 |
|   1965 |               1 |
|   1966 |               1 |
|   1967 |               1 |
|   1968 |               1 |
|   1969 |               1 |
|   1970 |               1 |
|   1971 |               1 |
|   1972 |               1 |
|   1973 |               1 |
|   1974 |               1 |
|   1975 |               1 |
|   1976 |               1 |
|   1977 |               1 |
|   1978 |               1 |
|   1979 |               1 |
|   1980 |               1 |
|   1981 |               1 |
|   1982 |               1 |
|   1983 |               1 |
|   1984 |               1 |
|   1985 |               1 |
|   1986 |               1 |
|   1987 |               1 |
|   1988 |               1 |
|   1989 |               1 |
|   1990 |               1 |
|   1991 |               1 |
|   1992 |               1 |
|   1993 |               1 |
|   1994 |               1 |
|   1995 |               1 |
|   1996 |               1 |
|   1997 |               1 |
|   1998 |               1 |
|   1999 |               1 |
|   2000 |               1 |
|   2001 |               1 |
|   2002 |               1 |
|   2003 |               1 |
|   2004 |               1 |
|   2005 |               1 |
|   2006 |               1 |
|   2007 |               1 |
|   2008 |               1 |
|   2009 |               1 |
|   2010 |               1 |
|   2011 |               1 |
|   2012 |               1 |
|   2013 |               1 |
|   2014 |               1 |
|   2015 |               1 |
|   2016 |               1 |
|   2017 |               1 |
|   2018 |               1 |
|   2019 |               1 |
|   2020 |               1 |
|   2021 |               1 |
|   2022 |               1 |
|   2023 |               1 |

ðŸ“Œ Column: 'total_spawners_y_minus_3'
|   Year |   Missing Count |
|--------|-----------------|
|   1963 |               8 |
|   1964 |               8 |
|   1965 |               8 |
|   1966 |               1 |
|   1967 |               1 |
|   1968 |               1 |
|   1969 |               1 |
|   1970 |               1 |
|   1971 |               1 |
|   1972 |               1 |
|   1973 |               1 |
|   1974 |               1 |
|   1975 |               1 |
|   1976 |               1 |
|   1977 |               1 |
|   1978 |               1 |
|   1979 |               1 |
|   1980 |               1 |
|   1981 |               1 |
|   1982 |               1 |
|   1983 |               1 |
|   1984 |               1 |
|   1985 |               1 |
|   1986 |               1 |
|   1987 |               1 |
|   1988 |               1 |
|   1989 |               1 |
|   1990 |               1 |
|   1991 |               1 |
|   1992 |               1 |
|   1993 |               1 |
|   1994 |               1 |
|   1995 |               1 |
|   1996 |               1 |
|   1997 |               1 |
|   1998 |               1 |
|   1999 |               1 |
|   2000 |               1 |
|   2001 |               1 |
|   2002 |               1 |
|   2003 |               1 |
|   2004 |               1 |
|   2005 |               1 |
|   2006 |               1 |
|   2007 |               1 |
|   2008 |               1 |
|   2009 |               1 |
|   2010 |               1 |
|   2011 |               1 |
|   2012 |               1 |
|   2013 |               1 |
|   2014 |               1 |
|   2015 |               1 |
|   2016 |               1 |
|   2017 |               1 |
|   2018 |               1 |
|   2019 |               1 |
|   2020 |               1 |
|   2021 |               1 |
|   2022 |               1 |
|   2023 |               1 |

ðŸ“Œ Column: 'total_spawners_y_minus_4'
|   Year |   Missing Count |
|--------|-----------------|
|   1963 |               8 |
|   1964 |               8 |
|   1965 |               8 |
|   1966 |               8 |
|   1967 |               1 |
|   1968 |               1 |
|   1969 |               1 |
|   1970 |               1 |
|   1971 |               1 |
|   1972 |               1 |
|   1973 |               1 |
|   1974 |               1 |
|   1975 |               1 |
|   1976 |               1 |
|   1977 |               1 |
|   1978 |               1 |
|   1979 |               1 |
|   1980 |               1 |
|   1981 |               1 |
|   1982 |               1 |
|   1983 |               1 |
|   1984 |               1 |
|   1985 |               1 |
|   1986 |               1 |
|   1987 |               1 |
|   1988 |               1 |
|   1989 |               1 |
|   1990 |               1 |
|   1991 |               1 |
|   1992 |               1 |
|   1993 |               1 |
|   1994 |               1 |
|   1995 |               1 |
|   1996 |               1 |
|   1997 |               1 |
|   1998 |               1 |
|   1999 |               1 |
|   2000 |               1 |
|   2001 |               1 |
|   2002 |               1 |
|   2003 |               1 |
|   2004 |               1 |
|   2005 |               1 |
|   2006 |               1 |
|   2007 |               1 |
|   2008 |               1 |
|   2009 |               1 |
|   2010 |               1 |
|   2011 |               1 |
|   2012 |               1 |
|   2013 |               1 |
|   2014 |               1 |
|   2015 |               1 |
|   2016 |               1 |
|   2017 |               1 |
|   2018 |               1 |
|   2019 |               1 |
|   2020 |               1 |
|   2021 |               1 |
|   2022 |               1 |
|   2023 |               1 |

ðŸ“Œ Column: 'total_spawners_y_minus_2_to_4'
|   Year |   Missing Count |
|--------|-----------------|
|   1963 |               8 |
|   1964 |               8 |
|   1965 |               8 |
|   1966 |               8 |
|   1967 |               1 |
|   1968 |               1 |
|   1969 |               1 |
|   1970 |               1 |
|   1971 |               1 |
|   1972 |               1 |
|   1973 |               1 |
|   1974 |               1 |
|   1975 |               1 |
|   1976 |               1 |
|   1977 |               1 |
|   1978 |               1 |
|   1979 |               1 |
|   1980 |               1 |
|   1981 |               1 |
|   1982 |               1 |
|   1983 |               1 |
|   1984 |               1 |
|   1985 |               1 |
|   1986 |               1 |
|   1987 |               1 |
|   1988 |               1 |
|   1989 |               1 |
|   1990 |               1 |
|   1991 |               1 |
|   1992 |               1 |
|   1993 |               1 |
|   1994 |               1 |
|   1995 |               1 |
|   1996 |               1 |
|   1997 |               1 |
|   1998 |               1 |
|   1999 |               1 |
|   2000 |               1 |
|   2001 |               1 |
|   2002 |               1 |
|   2003 |               1 |
|   2004 |               1 |
|   2005 |               1 |
|   2006 |               1 |
|   2007 |               1 |
|   2008 |               1 |
|   2009 |               1 |
|   2010 |               1 |
|   2011 |               1 |
|   2012 |               1 |
|   2013 |               1 |
|   2014 |               1 |
|   2015 |               1 |
|   2016 |               1 |
|   2017 |               1 |
|   2018 |               1 |
|   2019 |               1 |
|   2020 |               1 |
|   2021 |               1 |
|   2022 |               1 |
|   2023 |               1 |

drop all missing values

In [16]:
# Drop all rows with any missing values
data_set_bristol = data_set_bristol.dropna()

# Optional: reset index if needed
data_set_bristol.reset_index(drop=True, inplace=True)

checking again

In [17]:
missing_values = data_set_bristol.isnull().sum()
missing_values = missing_values[missing_values > 0]

print("Columns with missing values:")
print(missing_values)

Columns with missing values:
Series([], dtype: int64)

options to allow see all dataset

In [18]:
# Show all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

Salving file

In [19]:
save_path = r"C:\Users\MuriloFarias\Desktop\NNS-JULIA\PredictSalmonRuns\murilo_salmon\BristolBay\FIRST_APPROACH\data_set_bristol_encoded.csv"

In [20]:
# Save the cleaned DataFrame
data_set_bristol.to_csv(save_path, index=False)
print(f" File saved to: {save_path}")

 File saved to: C:\Users\MuriloFarias\Desktop\NNS-JULIA\PredictSalmonRuns\murilo_salmon\BristolBay\FIRST_APPROACH\data_set_bristol_encoded.csv

In [23]:
data_set_bristol.shape

(280, 37)