In [1]:
import pandas as pd
import os

Loading the datset BristolBay_FeatureSet_For_Model.csv

In [2]:
data_set_bristol = pd.read_csv(r'C:\Users\MuriloFarias\Desktop\NNS-JULIA\PredictSalmonRuns\data\BristolBay_FeatureSet_For_Model.csv')

Data Exploratory

Checking the shape

In [3]:
data_set_bristol.shape

(488, 35)

See the data

In [4]:
data_set_bristol

,River,Year,Total_Returns,AgeClass_0.1,AgeClass_0.2,AgeClass_0.3,AgeClass_0.4,AgeClass_0.5,AgeClass_1.1,AgeClass_1.2,...,mei_mean_AprSep,npgo_mean_DecFeb,ao_mean_DecMar,pdo_mean_DecMar,pdo_mean_MaySep,sst_aprjul,sst_anom,sss_mayaug,total_spawners_y_minus_2_to_4,Total_Spawners_BroodYear
0,Alagnak,1963,3.781383e+05,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,3.313000e+05,...,NaN,-0.209223,-1.25475,-0.0600,-0.580,NaN,NaN,31.649451,NaN,203304.0
1,Alagnak,1964,7.593831e+05,0.000000,0.000140,0.000000e+00,0.000000,0.000000,4468.518531,1.213613e+05,...,NaN,0.635470,-0.48150,0.0725,-1.456,NaN,NaN,31.806597,NaN,248700.0
2,Alagnak,1965,3.978606e+05,0.000000,0.000000,7.270738e+02,0.000000,0.000000,11965.313972,5.029325e+04,...,NaN,-0.708755,-1.07025,-0.5875,-0.202,NaN,NaN,31.792252,NaN,175020.0
3,Alagnak,1966,3.940772e+05,0.000000,0.000000,1.832636e-09,0.000000,0.000000,0.000000,1.102662e+05,...,NaN,-0.876998,-1.35450,-0.4625,-0.258,NaN,NaN,31.768258,NaN,174336.0
4,Alagnak,1967,3.443056e+05,0.000000,0.000000,1.073499e-09,0.000000,0.000000,6377.297622,2.310019e+05,...,NaN,-0.630369,0.29250,-0.3750,-1.220,NaN,NaN,31.952063,627024.0,202626.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483,Wood,2019,1.234074e+07,0.000000,0.000000,0.000000e+00,0.000000,0.000000,87517.701509,8.064807e+06,...,0.276667,-1.539047,0.66550,-0.4175,0.166,7.794615,2.187847,31.467492,7525405.0,2073276.0
484,Wood,2020,8.004915e+06,0.000000,0.000000,0.000000e+00,0.000000,0.000000,36289.024162,5.724076e+06,...,-0.685000,-2.187605,2.22225,-1.1600,-0.914,6.697374,1.090606,31.716720,13093931.0,2243886.0
485,Wood,2021,1.267032e+07,0.000001,0.000001,1.052336e-06,0.000001,0.000001,8527.016450,1.113983e+07,...,-1.196667,-1.064231,-0.82550,-1.0900,-1.754,5.850938,0.244170,31.832995,13857500.0,4410156.0
486,Wood,2022,1.241018e+07,0.000001,0.000001,1.795169e-03,0.000001,0.000001,7208.086447,7.504564e+06,...,-1.798333,-1.865551,0.72375,-2.1725,-2.174,5.287018,-0.319750,31.794433,11827162.0,3747612.0
487,Wood,2023,1.041894e+07,0.000001,0.000001,1.016114e-06,0.000001,0.000001,61995.910249,3.376879e+06,...,0.281667,-1.972965,-0.37825,-1.8875,-2.586,4.550619,-1.056149,31.933957,8727318.0,NaN

Sum of all columns

In [5]:
# Select only numeric columns (automatically excludes strings like 'River')
numeric_sums = data_set_bristol.select_dtypes(include='number').sum()

# Print with commas and 2 decimals
for col, val in numeric_sums.items():
    print(f"{col}: {val:,.2f}")

Year: 972,584.00
Total_Returns: 2,207,478,149.46
AgeClass_0.1: 2,350.03
AgeClass_0.2: 1,474,512.92
AgeClass_0.3: 8,772,787.70
AgeClass_0.4: 1,247,212.88
AgeClass_0.5: 2,763.06
AgeClass_1.1: 5,610,366.63
AgeClass_1.2: 612,845,787.17
AgeClass_1.3: 668,785,921.37
AgeClass_1.4: 8,217,692.06
AgeClass_1.5: 16,687.73
AgeClass_2.1: 7,994,539.46
AgeClass_2.2: 638,032,541.30
AgeClass_2.3: 248,856,997.78
AgeClass_2.4: 780,826.86
AgeClass_3.1: 132,687.41
AgeClass_3.2: 3,523,385.09
AgeClass_3.3: 1,180,488.40
AgeClass_3.4: 601.61
Total_Returns_NextYear: 2,251,595,670.85
Pacea_ALPI_Anomaly: 203.44
npi_mean_NovMar: 492,393.60
oni_mean_DecFeb: 12,977.12
mei_mean_AprSep: -23.45
npgo_mean_DecFeb: -78.14
ao_mean_DecMar: -67.12
pdo_mean_DecMar: -134.16
pdo_mean_MaySep: -207.39
sst_aprjul: 1,807.61
sst_anom: 13.44
sss_mayaug: 15,441.83
total_spawners_y_minus_2_to_4: 1,929,650,772.40
Total_Spawners_BroodYear: 684,920,075.21

Check the type of each columns

In [6]:
data_set_bristol.dtypes

River                             object
Year                               int64
Total_Returns                    float64
AgeClass_0.1                     float64
AgeClass_0.2                     float64
AgeClass_0.3                     float64
AgeClass_0.4                     float64
AgeClass_0.5                     float64
AgeClass_1.1                     float64
AgeClass_1.2                     float64
AgeClass_1.3                     float64
AgeClass_1.4                     float64
AgeClass_1.5                     float64
AgeClass_2.1                     float64
AgeClass_2.2                     float64
AgeClass_2.3                     float64
AgeClass_2.4                     float64
AgeClass_3.1                     float64
AgeClass_3.2                     float64
AgeClass_3.3                     float64
AgeClass_3.4                     float64
Total_Returns_NextYear           float64
Pacea_ALPI_Anomaly               float64
npi_mean_NovMar                  float64
oni_mean_DecFeb                  float64
mei_mean_AprSep                  float64
npgo_mean_DecFeb                 float64
ao_mean_DecMar                   float64
pdo_mean_DecMar                  float64
pdo_mean_MaySep                  float64
sst_aprjul                       float64
sst_anom                         float64
sss_mayaug                       float64
total_spawners_y_minus_2_to_4    float64
Total_Spawners_BroodYear         float64
dtype: object

Check all river's name

In [7]:
data_set_bristol['River'].unique()

array(['Alagnak', 'Egegik', 'Igushik', 'Kvichak', 'Naknek', 'Nushagak',
       'Ugashik', 'Wood'], dtype=object)

check missinvalues greater than 0

In [8]:
missing_values = data_set_bristol.isnull().sum()
missing_values = missing_values[missing_values > 0]

print("Columns with missing values:")
print(missing_values)

Columns with missing values:
Pacea_ALPI_Anomaly                 8
mei_mean_AprSep                  128
sst_aprjul                       168
sst_anom                         168
total_spawners_y_minus_2_to_4     89
Total_Spawners_BroodYear          68
dtype: int64

Once the column Pacea_ALPI_Anomaly 8 is very important 
Ill fill out these values using the average per each river

In [9]:
data_set_bristol['Pacea_ALPI_Anomaly'] = data_set_bristol.groupby('River')['Pacea_ALPI_Anomaly']\
                                                      .transform(lambda x: x.fillna(x.mean()))

Checking again the missing values

In [10]:
missing_values = data_set_bristol.isnull().sum()
missing_values = missing_values[missing_values > 0]

print("Columns with missing values:")
print(missing_values)

Columns with missing values:
mei_mean_AprSep                  128
sst_aprjul                       168
sst_anom                         168
total_spawners_y_minus_2_to_4     89
Total_Spawners_BroodYear          68
dtype: int64

droping three columns that have a more than 0 of missingvalues
droping where missing values is more than 0 and print their columns name

In [11]:
# Find columns with missing values
cols_with_missing = data_set_bristol.columns[data_set_bristol.isnull().sum() > 0].tolist()

# Drop those columns
data_set_bristol = data_set_bristol.drop(columns=cols_with_missing)

# Print dropped column names
print("Dropped columns due to missing values:")
for col in cols_with_missing:
    print(f"- {col}")

Dropped columns due to missing values:
- mei_mean_AprSep
- sst_aprjul
- sst_anom
- total_spawners_y_minus_2_to_4
- Total_Spawners_BroodYear

Check again after some process to check if the data its done for one hot encode

We cannot have null values

In [12]:
data_set_bristol.isnull().sum()

River                     0
Year                      0
Total_Returns             0
AgeClass_0.1              0
AgeClass_0.2              0
AgeClass_0.3              0
AgeClass_0.4              0
AgeClass_0.5              0
AgeClass_1.1              0
AgeClass_1.2              0
AgeClass_1.3              0
AgeClass_1.4              0
AgeClass_1.5              0
AgeClass_2.1              0
AgeClass_2.2              0
AgeClass_2.3              0
AgeClass_2.4              0
AgeClass_3.1              0
AgeClass_3.2              0
AgeClass_3.3              0
AgeClass_3.4              0
Total_Returns_NextYear    0
Pacea_ALPI_Anomaly        0
npi_mean_NovMar           0
oni_mean_DecFeb           0
npgo_mean_DecFeb          0
ao_mean_DecMar            0
pdo_mean_DecMar           0
pdo_mean_MaySep           0
sss_mayaug                0
dtype: int64

In [13]:
missing_values = data_set_bristol.isnull().sum()
missing_values = missing_values[missing_values > 0]

print("Columns with missing values:")
print(missing_values)

Columns with missing values:
Series([], dtype: int64)

changing pd options to show all columns and all samples

In [ ]:
# Show all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
data_set_bristol

In [15]:
save_path = r"C:\Users\MuriloFarias\Desktop\NNS-JULIA\PredictSalmonRuns\murilo_salmon\BristolBay\data_set_bristol_encoded.csv"

In [16]:
# Save the cleaned DataFrame
data_set_bristol.to_csv(save_path, index=False)
print(f"✅ File saved to: {save_path}")

✅ File saved to: C:\Users\MuriloFarias\Desktop\NNS-JULIA\PredictSalmonRuns\murilo_salmon\BristolBay\data_set_bristol_encoded.csv

Finish here
***********************************************

Correlation matrix for all tables (high correlation here were removed in Julia Pipe Line) Im just checking again

In [ ]:
# Generate correlation matrix
correlation_matrix = data_set_bristol.corr(numeric_only=True)

import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(16, 12))
sns.heatmap(correlation_matrix, cmap='coolwarm', annot=True, fmt=".2f",
            mask=(abs(correlation_matrix) < 0.5))  # Only show >0.9 or <-0.9
plt.title("Correlation Heatmap (>|0.9|) - Highlighted Only")
plt.tight_layout()
plt.show()

# Filter correlation matrix for high correlations (excluding self-correlation)
high_corr_mask = ((correlation_matrix > 0.5) | (correlation_matrix < -0.5)) & (correlation_matrix != 1.0)

# Get column names where at least one high correlation exists
high_corr_columns = high_corr_mask.any(axis=0)
columns_with_high_corr = high_corr_columns[high_corr_columns].index.tolist()

print("Columns with correlation > 0.5 or < -0.5:")
for i in columns_with_high_corr:
    print(f"- {i}")

Now this correlation here is between our label (Total_Returns_NextYear ) vs our features ()
the idea its choose the best features

In [ ]:
# 1. Calculate correlation matrix
corr_matrix = data_set_bristol.corr(numeric_only=True)
# 2. Get correlation of all features with the target
target_corr = corr_matrix['Total_Returns_NextYear'].drop('Total_Returns_NextYear')

# 3. Sort by absolute correlation (descending) and print
target_corr_sorted = target_corr.reindex(target_corr.abs().sort_values(ascending=False).index)

print("Correlation with Total_Returns_NextYear (sorted):")
print(target_corr_sorted)

Here is the end of this pipe line, now Ill save the new dataset.
For each approach should be apply different method

1: 
    Using top 5 hight correlation between features x Total_Returns_NextYear
    split data set using function
    save data set train and test
    test different models

2:
    Using top 10 hight correlation between features x Total_Returns_NextYear
    split data set using function
    save data set train and test
    test different models

3:
    Using all features 
    order data set by year
    split data set 80% 20%
    save data set train and test
    test different models